<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technically Web3</title>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js" defer></script>

</head>
<body>
    <header class="header-bar">
        <div class="header-bar-left">
            Left
        </div>
        <div class="header-bar-right">
            Right
        </div>
    </header>
    <div class="layout-container">
        Layout
    </div>
    <div class="bottom-bar">
        <div class="bottom-bar">
            <div class="bottom-bar-nav">
                Link1
            </div>
            <div class="bottom-bar-nav">
                Link2
            </div>
            <div class="bottom-bar-nav-middle">
                Link3
            </div>
            <div class="bottom-bar-nav">
                Link4
            </div>
            <div class="bottom-bar-nav">
                Link5
            </div>
        </div>
    </div>
    
</body>
</html>