:root {
    --body-background: #333;
    --body-color: #fff;
    --header-height: 60px;
    --header-background: #000;
    --header-color: #fff;
    --header-logo: url('/assets/images/icon.png');
    --bottom-height: 60px;
    --bottom-background: #222;
    --bottom-color: #fff;
    --nav-middle-background: #008;
    --nav-middle-color: #fff;
    --button-hover: #00f;
    --button-color: #008;
    --button-text: #fff;
    --button-height: 40px;
    --error-button-background: #800;
    --error-button-background-hover: #f00;
    --sidebar-width: 280px;
    --sidebar-background: #222;
    --sidebar-color: #fff;
    --nav-color-hover: #00f;
}

body {
    display: flex;
    background: var(--body-background);
    color: var(--body-color);
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif
}

button {
    background: var(--button-color);
    color: var(--button-text);
    height: var(--button-height);
    border-radius: 6px;
    border: none;
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.error-button {
    padding: 10px 0px;
    background: var(--error-button-background);
    width: 40px;
}

.header-bar {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    background: var(--header-background);
    color: var(--header-color);
    overflow: hidden;
    z-index: 500;
}

.header-bar-left, .header-bar-right {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.header-bar-left {
    width: 100%;
}

.header-logo {
    background-image: var(--header-logo);
    background-size: contain;
    min-width: var(--header-height);
    min-height: var(--header-height);
}

.header-title {
    text-decoration: none;
    color: var(--header-color);
}

.sidebar-container {
    display: none;
    position: absolute;
    left: 0;
    width: var(--sidebar-width);
    top: var(--header-height);
    bottom: 0;
    background: var(--sidebar-background);
}

.sidebar {
    padding: 20px;
    color: var(--sidebar-color);
}

.layout-container {
    padding-top: var(--header-height);
    padding-bottom: var(--bottom-height);
}

.layout {
    padding: 20px;
}

.bottom-bar {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    height: var(--bottom-height);
    background: var(--bottom-background);
    color: var(--bottom-color);
    margin-left: auto;
    margin-right: auto;
}

.bottom-bar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.bottom-bar-nav-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120%;
    background: var(--nav-middle-background);
    color: var(--nav-middle-color);
    border-radius: 10px;
    gap: 5px;
    z-index: 600;
}

.nav-icon {
    height: 40%;
    width: 25px;
    fill: var(--header-color);
}

button .nav-icon {
    height: 100%;
    width: inherit;
    fill: var(--button-text);
}

.nav-label {
    display: flex;
}

.address {
    align-items: center;
    border-radius: 5px;
    width: 100%;
    min-width: 120px;
    overflow: hidden;
    justify-content: center;
    /* position: fixed; */

}

.address-start {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    text-align: left;
}

.address-end {
    text-align: right;
}

#connectButton {
    display: flex;
    width: 190px;
    justify-content: space-between;
    gap: 5px;
    position: relative;
}

@media (hover:hover) {
    button:hover {
        background: var(--button-hover);
    }

    .error-button:hover {
        background: var(--error-button-background-hover);
    }

    .error-button:hover .nav-icon {
        fill: #ff0;
    }

    .bottom-bar-nav-middle:hover {
        background: var(--button-hover);
    }
    
    .bottom-bar-nav:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

@media (max-width: 600px) {
    .nav-label {
        display: none;
    }
    #connectButton {
        width: 40px;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header-title {
        display: none;
    }
}

@media (min-width: 900px) {
    .bottom-bar {
        top: calc(var(--header-height) - 10px);
        height: calc(var(--bottom-height) + 10px);
        max-width: 800px;
        border-radius: 10px;
    }

    .layout-container{
        padding-top: calc(var(--header-height) + var(--bottom-height));
    }

    .bottom-bar-nav:hover {
        border-radius: 10px;
    }

}

@media (min-width: 1300px) {
    .bottom-bar {
        top: 0;
        height: var(--header-height);
        background: transparent;
        z-index: 550;
    }
    .sidebar-container {
        display: flex;
    }
    .layout-container{
        padding-top: var(--header-height);
        padding-left: var(--sidebar-width);
    }
    .bottom-bar-nav:hover {
        border-radius: 0;
    }
}